
#tssnew img{display:none;}
#fg{display:none;}
body
{
max-width:100%;
}
#car{display:none;}
#car img{display:none;}


.felanmalan img {width:200px; height:90px;}
/* Wrapper */
#wrapper
{
max-width:100%;    
margin: auto;
height: auto; 
border-radius: 5px 5px 5px 5px;
width:480px;
}

/* Header */
header
{
max-width: 100%;
border-radius: 15px 15px 15px 15px; 

}

/* Footer */
footer
{
max-width: 100%;    
border-radius: 15px 15px 15px 15px;     
}



/* nav */

nav

{
     
height:auto;
padding:20px;
padding-top:0;


} 

nav li


{
float:left;
}


nav li a

{
padding:15px 30px;
margin:2px 2px 2px 2px;
width:140px;
}




/*Main*/

main
{
width: 100%;    
border-radius: 15px 15px 15px 15px;  
}
main img {
margin:1px 1px 1px 1px;
height:250px;
width:400px;}
#main section{max-width:70%;
margin:auto;
margin-bottom:10px;
border-radius:12px;
padding:20px;}

.panorama {display:none;}
#transform1 {display:none;}
#transform2{display:none;}
#transform3{display:none;}
#transform4{display:none;}
#transform5{display:none;}
#transform6{display:none;}

.table1{margin-left:6px; padding-top:20px; }
.table2{margin-left:6px; padding-top:20px; }
.table3{margin-left:6px; padding-top:20px; }
.table4{margin-left:6px; padding-top:20px; }
.table5{margin-left:6px; padding-top:20px; }
.table6{margin-left:6px; padding-top:20px; }
#intresse{float:none; text-decoration:none;}


#transform1  {
  position:relative;

  

}

#transform1 img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}



#transform2  {
    
  position:relative;
  height:100%;
  width: 100%;
  
}

#transform2 img {
width:420px;
  height:220px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}



#transform3  {
  position:relative;
  height:100%;
  width: 100%;

}

#transform3 img {
   width:420px;
  height:220px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


#transform4  {
  position:relative;
  height:100%;
  width: 100%;

}

#transform4 img {
      width:420px;
  height:220px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


#transform5  {
  position:relative;
  height:100%;
  width: 100%;

}

#transform5 img {
     width:420px;
  height:220px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}



#transform6  {
  position:relative;
  height:auto;
  width: 100%;

}

#transform6 img {
     width:420px;
  height:220px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}





/* Personal pictures in Contact */


/* Contact figure box */
#main1 section

{
max-width:70%;
margin:auto;
padding: 0px 20px 20px 20px;

}




/* Pictures */ 

#kontor
{
    margin-top:10px;
    width: 270px;
}


img
{
    max-width:100%;
}

#main img
{
width:300px;

height:160px;

}

#main1 img
{
width:300px;
}

/* Fieldset */

main form label
{
width: 150px;
text-align: left;
}




main form input, select, textarea
{
margin-bottom: 10px;
float: left;
}

#inputusername
{
max-width:100px;
border: 1px solid black;
}

#inputpassword
{
max-width:100px;
border: 1px solid black;
}

/* Annat */



#fel{float:left;}
.pil{float:right;}
.pil img {height:90px; width:50px;}

#twet img{ margin-top:-150px;}
