/* Body */

body
{
max-width:100%;
background-color:#eee;
}
h1{ color:#A52A2A; font-weight:bold; text-shadow: 10px 10px 10px gray;}
h2{font-weight:bold; text-shadow: 10px 10px 10px #708090;}


.felanmalan img {width:200px; height:90px;}
/* Wrapper */
#wrapper
{
max-width:100%;    
margin: auto;
height: auto; 
border-radius: 5px 5px 5px 5px;
width:480px;
}

/* Header */
header
{
text-align: center;    
max-width: 100%;
border-radius: 15px 15px 15px 15px; 
background:url(pics/silver1.jpg);

}

/* Footer */
footer
{
text-align: center;    
max-width: 100%;    
background:url(pics/white1.jpg);
border-radius: 15px 15px 15px 15px;     
}

/* nav */

nav

{
     
height:auto;
padding:35px;
padding-top:0;

}
ul


{
list-style-type:none;

}
nav li


{
float:left;
text-align:center;
color:blue;
}


nav li a

{
text-transform:uppercase;
text-decoration: none;
color:white;
font-weight:bold;
display:block;
padding:10px 20px;
border:solid white 1px;
background-color:black;
margin:2px 2px 2px 2px;
width:120px;
}


nav li a:hover

{
background-color:#F5F5F5;
color:black;
border:solid black 1px;
} 
 .active 
{background-color:#A52A2A;}
.clear
{
height:30px;
clear:both;
}

/*Main*/

main
{
overflow:hidden;
text-align: center;    
background-color: #F0FFFF;    
max-width: 100%;    
border-radius: 15px 15px 15px 15px;  
background:url(pics/silver2.png);
}
main img {-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
margin:15px 15px 0px 15px;
height:250px;
width:400px;}
main{clear:both;}
#main section{max-width:70%;
margin:auto;
margin-bottom:10px;
background-color:#eee;
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
padding:20px;}

.panorama {display:none;}
#transform1 {margin:auto;}
#transform2{margin:auto;  float:right; padding-top:20px;}
#transform3{margin:auto; float:right; padding-top:20px; }
#transform4{margin:auto; float:right; padding-top:20px; }
#transform5{margin:auto; float:right; padding-top:20px; }
#transform6{margin:auto; float:right; padding-top:20px; }

.table1{margin-left:6px; padding-top: 235px; padding-right: 50px;}
.table2{margin-left:6px; padding-top:250px; padding-right: 50px;}
.table3{ margin-left:6px; padding-top:250px; padding-right: 50px;}
.table4{ margin-left:6px; padding-top:250px; padding-right: 50px;}
.table5{margin-left:6px; padding-top:250px; padding-right: 50px;}
.table6{margin-left:6px; padding-top:250px; padding-right: 50px;}
#intresse{float:none; text-decoration:none; }

#transform1  {
  height:100px;
  margin:0 auto;
}

#transform1 img {
  width:100px;
  position:absolute;
  left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  
}

#transform1 .top:hover {
  opacity:0;
}

#transform2  {
    
  height:100px;
  margin: 0 auto;
  
}

#transform2 img {
   width:100px;
  left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}

#transform2 .top:hover {
  opacity:0;
}


#transform3  {
  height:100px;
  margin: 0 auto;

}

#transform3 img {
   width:100px;
  left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#transform3 .top:hover {
  opacity:0;
}


#transform4  {
  height:100px;
  margin: 0 auto;

}

#transform4 img {
      width:100px;
  left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#transform4 .top:hover {
  opacity:0;
}


#transform5  {
  height:100px;
 margin: 0 auto;

}

#transform5 img {
     width:100px;
  left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#transform5 .top:hover {
  opacity:0;
}


#transform6  {
  height:100px;
  margin: 0 auto;

}

#transform6 img {
     width:100px;
 left:0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#transform6 .top:hover {
  opacity:0;
}




/* Personal pictures in Contact */
#personalpic
{
    height: 100px;
    width: 100px;
}


/* Contact figure box */
#main1 section

{
width:240px;
margin:auto;
background-color: #eee;
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
text-align: center;
padding: 0px 25px 15px 15px;

}




/* Pictures */ 

#kontor
{
    margin-top:10px;
    width: 270px;
}


img
{
    max-width:100%;
}

img
{
    max-width:100%;
}

#main img


{
width:300px;

height:160px;

}

#main1 img
{
width:300px;
}

/* Fieldset */

main form label
{
width: 140px;
text-align: left;
display: block;
}




main form input, select, textarea
{
margin-bottom: 10px;
float: left;
}

fieldset
{
margin: 1px 1px 1px 1px;
border: 1px solid black;
background:url(pics/silver1.jpg);
}

#inputusername
{
max-width:100px;
border: 1px solid black;
}

#inputpassword
{
max-width:100px;
border: 1px solid black;
}

/* Annat */



#fel{float:left;}
.pil{float:right;}
.pil img {height:90px; width:50px;}

