body
{
background-color: gray;    
}

#wrapper
{
max-width: 480px;    
margin: auto;
height: auto; 
border-radius: 5px 5px 5px 5px;
}

header
{
text-align: center;    
background-color: white;      
max-width: 480px;
border-radius: 5px 5px 5px 5px; 
}


main
{
text-align: center;    
background-color: white;    
max-width: 480px;    
border-radius: 5px 5px 5px 5px;    
}

footer
{
text-align: center;    
max-width: 480px;    
border-radius: 5px 5px 5px 5px;    
}

img
{
    max-width:100%;
}

ul
{
list-style: none;
}

