body
{
text-align:center;
}
.felanmalan img {width:100%;}
#wrapper
{
width:960px;
margin: auto;
height: auto; 
}

a {
color: #000099;

text-decoration:none;
}

a:hover
{
color: #0099CC;
}

/* nav */

nav

{

height:auto;
padding:35px;
padding-top:0;

}

nav li


{
float:left;
}


nav li a

{
padding:15px 30px;
margin:2px 2px 2px 2px;
width:140px;
}

/*Main*/

main
{
width: 100%;    
}

main img {
margin:auto;
height:200px;
width:320px;}

#main section{width:400px;
margin:auto;
float:right;
margin-right:50px;
margin-bottom:10px;}
.pil{float:right;}
.pil img {height:118px; width:150px;}

.panorama { width:700px; height:220px; margin-bottom:20px; margin-top:15px;}
#transform1{margin:auto;}
#transform2{margin:auto;}
#transform3{margin:auto;}
#transform4{margin:auto;}
#transform5{margin:auto;}
#transform6{margin:auto;}

.table1{margin-left:60px; width:43%;}
.table2{margin-left:60px; width:43%;}
.table3{margin-left:60px; width:43%;}
.table4{margin-left:60px; width:43%;}
.table5{margin-left:60px; width:43%;}
.table6{margin-left:60px; width:43%;}
#intresse
{
float:none;
text-decoration:none;
width: 500px;
margin-left: 220px;
}

.img1 {display:none;}

#transform1  {
position:relative;
height:100%;
width: 100%;

}

#transform1 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#transform1 .top:hover {
opacity:0;
}

#transform2  {

position:relative;
height:100%;
width: 100%;

}

#transform2 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

}

#transform2 .top:hover {
opacity:0;
}


#transform3  {
position:relative;
height:100%;
width: 100%;

}

#transform3 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#transform3 .top:hover {
opacity:0;
}


#transform4  {
position:relative;
height:100%;
width: 100%;

}

#transform4 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#transform4 .top:hover {
opacity:0;
}


#transform5  {
position:relative;
height:100%;
width: 100%;

}

#transform5 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#transform5 .top:hover {
opacity:0;
}


#transform6  {
position:relative;
height:auto;
width: 100%;

}

#transform6 img {
width:420px;
height:220px;
position:absolute;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

#transform6 .top:hover {
opacity:0;
}



/* Contact figure box */
#main1 section{width:260px;
margin:auto;
float:right;
margin-right:40px;
margin-bottom:10px;}


.felanmalan img {max-width:40%; margin:auto;}
#fel{width:500px;margin-left:220px;}



/* Fieldset */
#login {border: solid gray 3px; margin:auto; width:70%;}

main form label
{
width: 150px;
text-align: left;
}
article img{width:70%; height:auto;}
#reklam img{width:50%; height:auto;}
#tssnew img{float:left; width:90px; height:130px;}
#car img {width:100%; height:100%;}
#car {border:solid gray 2px; float:right;  width:180px; height:500px; position:fixed; background-color:white;}
#car p{color:black; font-size:1.1em;}

#english{float:left; margin-top:-500px;}
#english img{width:60px; height:30px;}

#svenska{float:left; margin-top:-250px;}
#svenska img{width:60px; height:50px; margin-top: -15px;}

#fg {border:solid black 2px; float:right;  width:180px; height:500px; position:relative; background-color:white;}
#fg p{color:black; font-size:1.1em;}
#fg{
animation:mymove 15s infinite;
-webkit-animation:mymove 15s infinite; /* Safari and Chrome */
}

@keyframes mymove
{
25%   {top:0px; background:#F5F5F5;}
50%  {top:200px; background:#DCDCDC;}
75%  {top:50px; background:#F0F8FF;}
100% {top:100px; background:#B0C4DE;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
50%   {top:0px; background:#F5F5F5;}
40%  {top:200px; background:#DCDCDC;}
80%  {top:50px; background:#F0F8FF; }
100% {top:100px; background:#B0C4DE;}
}


main form input, select, textarea
{
margin-bottom: 10px;
float: left;
}


#inputusername
{
max-width:100px;
border: 1px solid black;
}

#inputpassword
{
max-width:100px;
border: 1px solid black;
}

#kontor
{
margin-top:10px;
width: 400px;
}

#personalpic
{
width: 175px;
}

#personalpic1
{
width: 175px;
}

#personalpic2
{
width: 175px;
}

